In [8]:
import numpy as np
import pandas as pd

In [9]:
bestsellers = pd.read_csv("AmazonBooks - Sheet1.csv")
bestsellers.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [10]:
print(f'Data contain {bestsellers.shape[0]} records and {bestsellers.shape[1]} columns.')

Data contain 600 records and 7 columns.

In [11]:
bestsellers.describe()

       User Rating        Reviews      Price         Year
count   600.000000     600.000000  600.00000   600.000000
mean      4.627333   13941.730000   12.92000  2014.500000
std       0.225324   14652.813591   10.49717     3.454933
min       3.300000      37.000000    0.00000  2009.000000
25%       4.500000    4586.500000    7.00000  2011.750000
50%       4.700000    9059.500000   11.00000  2014.500000
75%       4.800000   19587.500000   16.00000  2017.250000
max       4.900000  120727.000000  105.00000  2020.000000

In [12]:
bestsellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         600 non-null    object
 1   Author       600 non-null    object
 2   User Rating  600 non-null    float64
 3   Reviews      600 non-null    int64
 4   Price        600 non-null    int64
 5   Year         600 non-null    int64
 6   Genre        600 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 32.9+ KB

The data has no missing values