In [13]:
import numpy as np
import pandas as pd

In [33]:
bestsellers = pd.read_csv("AmazonBooks - Sheet1.csv")
bestsellers.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [34]:
print(f'Data contain {bestsellers.shape[0]} records and {bestsellers.shape[1]} columns.')

Data contain 600 records and 7 columns.

In [35]:
bestsellers.describe()

       User Rating        Reviews      Price         Year
count   600.000000     600.000000  600.00000   600.000000
mean      4.627333   13941.730000   12.92000  2014.500000
std       0.225324   14652.813591   10.49717     3.454933
min       3.300000      37.000000    0.00000  2009.000000
25%       4.500000    4586.500000    7.00000  2011.750000
50%       4.700000    9059.500000   11.00000  2014.500000
75%       4.800000   19587.500000   16.00000  2017.250000
max       4.900000  120727.000000  105.00000  2020.000000

In [36]:
bestsellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         600 non-null    object
 1   Author       600 non-null    object
 2   User Rating  600 non-null    float64
 3   Reviews      600 non-null    int64
 4   Price        600 non-null    int64
 5   Year         600 non-null    int64
 6   Genre        600 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 32.9+ KB

The data has no missing values

In [37]:
# number of authors
bestsellers['Author'].nunique()

275

In [42]:
#
authors = bestsellers['Author'].unique()

In [43]:
authors.sort()
authors

array([' Bill Martin Jr.', ' Tara Westover ', ' Workman Publishing',
       'Abraham Verghese', 'Adam Gasiewski', 'Adam Mansbach',
       'Adam Wallace', 'Adir Levy', 'Admiral William H. McRaven',
       'Adult Coloring Book Designs', 'Alan Moore', 'Alex Michaelides',
       'Alice Schertle', 'Allie Brosh', 'Amelia Hepworth',
       'American Psychiatric Association',
       'American Psychological Association', 'Amor Towles', 'Amy Ramos',
       'Amy Shields', 'Andy Weir', 'Angie Grace', 'Angie Thomas',
       'Ann Voskamp', 'Ann Whitford Paul', 'Anthony Bourdain',
       'Anthony Doerr', 'Atul Gawande', 'Audrey Niffenegger',
       'B. J. Novak', 'Barack Obama', 'Bessel van der Kolk M.D.',
       'Bill Martin Jr.', "Bill O'Reilly", 'Bill Simmons',
       'Blue Star Coloring', 'Bob Woodward', 'Brandon Stanton',
       'BreneÌ\x81 Brown', 'Brian Kilmeade', 'Brit Bennett',
       'Bruce Springsteen', 'Carol S. Dweck', 'Carole P. Roman',
       'Celeste Ng', 'Charlaine Harris', 'Charles Duhigg',
       'Charles Krauthammer', 'Charlie Mackesy', 'Cheryl Strayed',
       'Chip Gaines', 'Chip Heath', 'Chris Cleave', 'Chris Kyle',
       'Chrissy Teigen', 'Christina Baker Kline', 'Christopher Paolini',
       'Coloring Books for Adults', 'Conor Riordan ', 'Craig Smith',
       'Crispin Boyer', 'Crystal Radke', 'DK', 'Dale Carnegie',
       'Dan Brown', 'Daniel H. Pink', 'Daniel James Brown',
       'Daniel Kahneman', 'Daniel Lipkowitz', 'Dav Pilkey', 'Dave Ramsey',
       'David Goggins', 'David Grann', 'David McCullough',
       'David Perlmutter MD', 'David Platt', 'David Zinczenko',
       'Deborah Diesen', 'Delegates of the ConstitutionalÂ…',
       'Delia Owens', 'Dinah Bucholz', 'Don Miguel Ruiz',
       'Don Miguel Ruiz ', 'Donna Tartt', 'Doug Lemov', 'Dr. Seuss',
       'Dr. Steven R Gundry MD', 'Drew Daywalt', 'E L James',
       'Eben Alexander', 'Edward Klein', 'Edward M. Kennedy',
       'Elie Wiesel', 'Elizabeth Strout', 'Emily Winfield Martin',
       'Eric Carle', 'Eric Larson', 'Erik Larson', 'Ernest Cline',
       'F. A. Hayek', 'F. Scott Fitzgerald', 'Francis Chan',
       'Fredrik Backman', 'Gallup', 'Garth Stein', 'Gary Chapman',
       'Gayle Forman', 'Geneen Roth', 'George Orwell',
       'George R. R. Martin', 'George R.R. Martin', 'George W. Bush',
       'Giles Andreae', 'Gillian Flynn', 'Glenn Beck', 'Glennon Doyle',
       'Golden Books', 'Greg Mortenson', 'Harper Lee', 'Heidi Murkoff',
       'Hillary Rodham Clinton', 'Hopscotch Girls', 'Howard Stern',
       'Ian K. Smith M.D.', 'Ibram X. Kendi', 'Ina Garten',
       'Isabel Wilkerson', 'J. D. Vance', 'J. K. Rowling', 'J.K. Rowling',
       'JJ Smith', 'James Clear', 'James Comey', 'James Dashner',
       'James Patterson', 'Jay Asher', 'Jaycee Dugard', 'Jeanine Cummins',
       'Jeff Kinney', 'Jen Sincero', 'Jennie Allen', 'Jennifer Smith',
       'Jill Twiss', 'Jim Collins', 'Joanna Gaines', 'Joel Fuhrman MD',
       'Johanna Basford', 'John Bolton', 'John Green', 'John Grisham',
       'John Heilemann', 'Jon Meacham', 'Jon Stewart', 'Jonathan Cahn',
       'Jordan B. Peterson', 'Julia Child', 'Justin Halpern',
       'Kathryn Stockett', 'Katie Stokes', 'Keith Richards',
       'Ken Follett', 'Kevin Kwan', 'Khaled Hosseini', 'Kristin Hannah',
       'Larry Schweikart', 'Laura Hillenbrand', 'Laurel Randolph',
       'Lin-Manuel Miranda', 'Lysa TerKeurst', 'M Prefontaine',
       "Madeleine L'Engle", 'Malcolm Gladwell', 'Margaret Atwood',
       'Margaret Wise Brown', 'Marie KondÅ\x8d', 'Marjorie Sarnat',
       'Mark Hyman M.D.', 'Mark Manson', 'Mark Owen', 'Mark R. Levin',
       'Mark Twain', 'Markus Zusak', 'Marty Noble', 'Mary Ann Shaffer',
       'Mary L. Trump Ph.D. ', 'Matthew McConaughey', 'Maurice Sendak',
       'Melissa Hartwig Urban', 'Michael Lewis', 'Michael Pollan',
       'Michael Wolff', 'Michelle Obama', 'Mike Moreno', 'Mitch Albom',
       'Muriel Barbery', 'Naomi Kleinberg', 'Nathan W. Pyle',
       'National Geographic Kids', 'Neil deGrasse Tyson',
       'Paper Peony Press', 'Patrick Lencioni', 'Patrick Thorpe',
       'Paul Kalanithi', 'Paula Hawkins', 'Paula McLain', 'Paulo Coelho',
       'Pete Souza', 'Peter A. Lillback', 'Phil Robertson',
       'Pierre Dukan', 'Pretty Simple Press', 'R. J. Palacio',
       'RH Disney', 'Rachel Hollis', 'Raina Telgemeier', 'Randall Munroe',
       'Randy Pausch', 'Ray Bradbury', 'Rebecca Skloot', 'Ree Drummond',
       'Rick Riordan', 'Rob Bell', 'Rob Elliott', 'Robert Jordan',
       'Robert Munsch', 'Robin DiAngelo', 'Rod Campbell', 'Roger Priddy',
       'Ron Chernow', 'Rupi Kaur', 'Rush Limbaugh', 'Samin Nosrat',
       'Sandra Boynton', 'Sara Gruen', 'Sarah Palin', 'Sarah Young',
       "Sasha O'Hara", 'Scholastic', 'School Zone', 'Sean Hannity',
       'Shannon Roberts', 'Sharon Jones', 'Sherri Duskey Rinker',
       'Sheryl Sandberg', 'Silly Bear', 'Stephen Kendrick',
       'Stephen King', 'Stephen R. Covey', 'Stephenie Meyer',
       'Steve Harvey', 'Steven D. Levitt', 'Stieg Larsson', 'Susan Cain',
       'Suzanne Collins', 'Ta-Nehisi Coates', 'Tara Westover',
       'Tatiana de Rosnay', 'The College Board',
       'The Staff of The Late Show withÂ…', 'The Washington Post',
       'Thomas Campbell', 'Thomas Piketty', 'Thug Kitchen',
       'Timothy Ferriss', 'Tina Fey', 'Todd Burpo', 'Tony Hsieh',
       'Tucker Carlson', 'Veronica Roth', 'W. Cleon Skousen',
       'Walter Isaacson', 'William Davis', 'William P. Young',
       'Wizards RPG Team', 'Zhi Gang Sha'], dtype=object)

In [46]:
bestsellers[bestsellers["Author"]=="The Staff of The Late Show withÂ…"]

,Name,Author,User Rating,Reviews,Price,Year,Genre
536,Whose Boat Is This Boat?: Comments That Don't ...,The Staff of The Late Show withÂ…,4.6,6669,12,2018,Non Fiction

In [ ]:
bestsellers = bestsellers.replace({'Author':
                                   {' Bill Martin Jr.' : 'Bill Martin Jr.',
                                   ' Tara Westover ' : 'Tara Westover',
                                   ' Workman Publishing' : 'Workman Publishing',
                                   'The Staff of The Late Show withÂ…' : 'The Staff of The Late Show with Stephen Colbert'}
             })